/* ajouter un bord jaune autour du body */
/* changer la police pour changa, laisser le sans-serif comme le 2e choix */
:root {
  --brand: #fee500;
}
body {
  font-family: Changa, sans-serif;
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 0;
  border: 1.5rem solid var(--brand);
  padding: 2rem 0;
  color: #212121;
}

img {
  max-width: 100%;
  height: auto;
}

.image-intro {
   box-shadow: 10px 10px var(--brand);
}
main {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
}
/* centrer les éléments de la partie header, h2 et footer */
header,
h2,
footer {
  text-align: center;
}

/* taille de police plus grande (24px) */
/* texte centré avec plus d'espace à droite et à gauche */
.intro {
  font-size: 2rem;
  text-align: center;
}

/* la liste sans bullets */
/* la taille de police est de 24px */
ul {
  list-style: none;
  font-size: 1.25rem;
  margin: 1.5rem 0;
  padding: 0;
}

/* les éléments de la liste affichés dans une ligne */
li {
  display: inline-block;
  margin-bottom: 8px;
}

/* les liens dans la partie navigation */
nav a {
  padding: .25rem .75rem;
  transition: .5s;  
  background: var(--brand);
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* le lien dans la partie navigation en survol devient jaune  */ 
nav a:hover {
  background: #212121;
  color: #fff;
  
}
